<div class="col-xs-12 col-sm-4">
    <div class="panel panel-default">
        <div class="panel-heading"><b>{{user.name}}</b> <span class="pull-right">{{user.sum|currency}}</span></div>
        <ul class="list-group">
            <li class="list-group-item">
                <h4 class="list-group-item-heading">Транзакции</h4>
                <h6 class="list-group-item-heading">баланс за выбранную дату</h6>

                <span class="btn btn-default">02.09.2015</span>
            </li>
            <!--  -->
            <li class="list-group-item">
                <i class="glyphicon glyphicon-plus"></i>
            </li>
        </ul>
    </div>
</div>
<div class="col-xs-12 col-sm-8">
    <div class="panel panel-primary">
        <div class="panel-heading">Кошельки</div>
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="card in user.cards">
                {{card.title}}
                <div class="input-group col-xs-4 pull-right">
                    <input type="text" class="form-control" value="{{card.balance|currency}}" disabled>
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
                            <i class="glyphicon glyphicon-refresh"></i>
                        </button>
                    </span>
                </div>
                <div class="clearfix"></div>
            </li>
        </ul>
    </div>
    <!--  -->
    <div class="panel panel-primary">
        <div class="panel-heading">Перевод средств пользователю</div>
        <div class="col-xs-10 col-xs-offset-1">
            <div class="form-group">
                <label for="user_id">id пользователя</label>
                <input type="number" name="user_id" id="user_id" class="form-control" ng-model="sendMoney.user_id">
            </div>
            <div class="form-group">
                <label for="money">Сумма</label>
                <input type="number" name="money" id="money" class="form-control" ng-model="sendMoney.money">
            </div>
            <div class="form-group">
                <button class="btn btn-primary">Перевести</button>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <!-- -->
    <div class="panel panel-primary">
        <div class="panel-heading">Пополнение баланса</div>
        <div class="col-xs-10 col-xs-offset-1">
            <div class="form-group">
                <label for="money">Сумма</label>
                <input type="number" name="money" id="money" class="form-control" ng-model="sendMoney.money">
            </div>
            <div class="form-group">
                <button class="btn btn-primary">Пополнить</button>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>